<div class="login-card-container">
  <div class="container w-25">
    <form [formGroup]="loginForm" class="card card-body">
      <div class="container position-relative" style="height: 200px">
        <img ngSrc="assets/logo.jpg" fill style="object-fit: contain">
      </div>
      <app-text-input [formControl]="$any(loginForm.controls['login'])" [label]="'Login'" [placeholder]="'login'"></app-text-input>
      <app-text-input [formControl]="$any(loginForm.controls['password'])" [label]="'Password'" [type]="'password'"></app-text-input>
      <button class="btn btn-secondary">Login</button>
    </form>
  </div>
</div>
