<div class="container">
  <form [formGroup]="registerForm" class="card card-body">
    <app-text-input [formControl]="$any(registerForm.controls['login'])" [label]="'Login'" [placeholder]="'login'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [type]="'password'">
      <div class="form-text" additional-content>
        Your password must be 8-20 characters long, minimum eight and maximum 10 characters, at least one uppercase letter, one lowercase letter, one number and one special character (@$!%*?&).
      </div>
    </app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'" [type]="'password'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['name'])" [label]="'Name'" [placeholder]="'name'"></app-text-input>
    <app-text-input [formControl]="$any(registerForm.controls['surname'])" [label]="'Surname'" [placeholder]="'surname'"></app-text-input>
    <div class="mb-3">
      <label for="addressTextarea" class="form-label">Address</label>
      <textarea class="form-control" id="addressTextarea" rows="3" formControlName="address"></textarea>
    </div>
    <div class="mb-3">
      <label for="ccNumberInput" class="form-label">Credit card number</label>
      <input class="form-control" id="ccNumberInput" type="tel" autocomplete="cc-number" ccNumber formControlName="debitCardNumber">
    </div>
    <div class="mb-3">
      <label for="expireDateInput" class="form-label">Expire date</label>
      <input class="form-control" id="expireDateInput" type="tel" autocomplete="cc-exp" ccExp formControlName="expireDate">
    </div>
    <div class="mb-3">
      <label for="cvvInput" class="form-label">CVV</label>
      <input class="form-control" id="cvvInput" type="tel" autocomplete="off" ccCVC formControlName="cvv">
    </div>
    <app-text-input [formControl]="$any(registerForm.controls['email'])" [label]="'Email'" [placeholder]="'name@example.com'" [type]="'email'"></app-text-input>
    <div *ngIf="invalidValuesInAnyControl" class="text-center text-danger">Pola zostały niepoprawnie wypełnione</div>
    <div *ngIf="errorOccuredDuringAddingUser" class="text-center text-danger">{{errorMessage}}</div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-success w-25" (click)="submit()">Submit</button>
    </div>
  </form>
</div>
