<div class="card" style="width: 18rem;" [ngStyle]="{'width.px':screenWidth }">
  <div class="image-container">
    <img src="{{restaurant.backgroundImageUrl}}"[ngStyle]="{'width.px':screenWidth }"  alt="Background" class="background-image">
    <img src="{{restaurant.imageUrl}}"  [ngStyle]="{'width.px':screenWidth -(screenWidth/2),'max-height.px':200 }" alt="Center" class="center-image">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ restaurant.name }}</h5>
    <p class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ restaurant.street}},{{ restaurant.houseNumber }}</li>
    <li class="list-group-item">ocena: {{ restaurant.score }}/5</li>
    <li class="list-group-item"> {{restaurant.location}}</li>
  </ul>
  <div class="card-body" style="flex: 1;display: flex">
    <button class="button" (click)="GoToDishes(restaurant.name)" [ngStyle]="{'border-color':Colors.main,'background':Colors.second}" ><h5 style="color:{{Colors.main}}">Sprawdź</h5></button>

  </div>
</div>
