<div style="display: flex;justify-content: center">
  <div class="card mb-3" [ngStyle]="{'width.px':screenWidth}">
    <img (click)="GotoDish(dish.name)"  [src]="dish.imageUrl"  [ngStyle]="{'width.px':screenWidth,'height.px':screenHeight}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{dish.name }}</h5>
      <p class="card-text">{{ dish.description }}</p>
      <div style="flex-direction: row;flex: 3;display: flex">
        <h4 style="flex: 1" class="card-text"><small class="text-muted">{{ dish.price + ' zł' }}</small></h4>
        <button (click)="addItemToCasket(dish.dishId)" style="flex: 2;background:{{Colors.second}}; border-radius: 20px" ><H4 style="color:{{Colors.main}}">Dodaj do koszyka</H4></button>
      </div>
    </div>
  </div>
</div>



