<div style="display: flex;justify-content: center ;margin:50px">
  <div class="card mb-3" [ngStyle]="{'width.px':screenWidth}">
    <img [src]="dish.imageUrl" [ngStyle]="{'width.px':screenWidth,'height.px':screenHeight}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5  class="card-title">{{dish.name }}</h5>
      <p class="card-text">{{ dish.description }}</p>
      <div style="flex-direction: row;flex: 3;display: flex">
        <h4 style="flex: 1" class="card-text"><small class="text-muted">{{ dish.price + ' zł' }}</small></h4>
        <div style="flex-direction: row;margin: 10px">
          <button (click)="Decrease()" [ngStyle]="{'color':Colors.main,'background':Colors.second}"  style="padding: 10px;border-top-left-radius: 20px;width: 40px;border-bottom-left-radius:20px; font-weight: bold; ">-</button>
          <a style="padding: 10px;font-weight: bold">{{this.count}}</a>
          <button (click)="Increase()" [ngStyle]="{'color':Colors.main,'background':Colors.second}"   style="font-weight: bold; width: 40px ;padding: 10px;border-top-right-radius: 20px;border-bottom-right-radius:20px; ">+</button>
        </div>
        <button  [disabled]="this.blocked?true:null" [ngStyle]="{ 'color':Colors.main,'background':Colors.second}" (click)="addToCart(dish.dishId)" style="flex: 2; border-radius: 20px" ><H4 >Dodaj do koszyka</H4></button>
      </div>
    </div>
  </div>
</div>
